  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
  }

  

    #marker , #marker-loader{
      z-index:890;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      width:200px;
      height:200px;
      opacity:0.6;
      
    }

    #marker::after{
      position: absolute;
      bottom: -30px;
      content: 'place your marker';
      text-align: center;
      font-size:16px;
      color:#fff;
      width:100%;
    
    }

    #logo {
      position: absolute;
      top: 20px;
      left: 20px;
      float: left;
      z-index: 99;
      width: 300px;
    }

   

    #navigation {
      width: 450px;
      height: 80px;
      
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      z-index: 99;
    }

    .menu_item {
      width: 100px;
      position: relative;
      left: 0px;
      transition: 0.5s;
      cursor: pointer;
      border-radius: 50px;
      height: 100px;
    }
    .mars {
      width: 70px;
    }

    .Tajmahal {
      width: 100px;
      
    }
    .Tajmahal {
      width: 100px;
           
    }
    .Tajmahal{
      width: 100px;
      
    }

    .menu_item:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }

    @media only screen and (max-width:900px){
      #navigation{
        width:80%;
        transform-origin: center center;
        transform: translateX(-50%);
        left:50%;
      }
      .menu_item {
        width: 50px;
        height: 50px;
        transition: 0.5s;
        cursor: pointer;
      }
     
    }